.container {
  width: 55%;
  margin: 0 auto;
}

.spacer {
  height: 0.1rem;
}
.main {
  margin-bottom: 100px;
}

.subheading {
  padding: 1rem;
  padding-top: 100px;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
}

.paragraph {
  font-size: 18px;
  margin: 1rem 0;
}

.video {
  margin: 2rem auto;
  display: block;
  width: 100%;
}

.imgDiv {
  position: relative;
  height: 500px;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .imgDiv {
    height: 200px;
  }
}
