.block {
  margin: 5rem 0;
  display: flex;
}

.1 {
  flex-direction: row;
}

.2 {
  flex-direction: row-reverse;
}

.div,
.pic {
  flex: 1;
}

.heading {
  font-size: 28px;
  text-decoration: underline;
  text-align: center;
  font-weight: lighter;
}

.list {
  padding-left: 1.33rem;
  padding-right: 1rem;
  margin-top: 2rem;
}

.item {
  font-size: 18px;
}

@media (max-width: 768px) {
  .1,
  .2 {
    flex-direction: column;
  }
}
