.navLinks {
  position: absolute;
  background: #333;
  width: 67vw;
  right: 0;
  list-style: none;
  top: 30px;
  height: 100vh;
  text-align: end;
  transition: 0.3s;
  transform: translate3d(75vw, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1rem;
}

.show {
  transform: translate3d(0vw, 0, 0);
}

.navLinkItem {
  margin: 1.1rem;
}

.navLinkText {
  font-weight: lighter;
  color: white;
  font-size: 22px;
  text-decoration: none;
}
