.navbar {
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.navLinks {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  list-style: none;
}

.navLinkItem {
  margin: 10px;
}

.navLinkText {
  font-size: 18px;
  text-decoration: none;
  color: #ccc;
}

.navLinkText:hover {
  color: white;
  border-bottom: 1px solid white;
}

.hamburger {
  background: none;
  padding: 0;
  border: none;
  display: none;
  height: 1.81rem;
}

.bar {
  background: white;
  height: 3px;
  width: 24px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .container {
    width: 96%;
  }

  .navLinks {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
  }
}
